/* mobile (<425px) */

@media (max-width: 649px) {
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .8rem;
        color: #FFFFFF;
    }

    #hambur{
        display: block;
        width: 25px;
        border-top: 4px solid;
    }

    #hambur::after, #hambur::before{
        width: 25px;
        content: "";
        display: block;
        height: 4px;
        background-color: currentColor;
        margin-top: 5px;  
        position: relative;
    }

    #nav.active #hambur{
        border-top-color: transparent;
    }

    #nav.active #hambur::before{
        transform: rotate(45deg);
    }

    #nav.active #hambur::after{
        transform: rotate(-45deg);
        top: -9px;
    }

    #menu {
        display: none;
        position: absolute;
        width: 80%;
        background-color: #ffffff;
        border-radius: 20px;
        top: 90px;
        right: 0;
        height: 60vh;
        z-index: 1000; 
    }

    @keyframes identifier {
        from{
        transform: translateX(100%);
        opacity: 0;
        }
        to{
        transform: translateX(0);
        opacity: 1;
        }
    }

    #nav.active #menu{
        display: block;
        animation: identifier .4s .12s backwards;
    }
    .navbar ul li::after {
        display: none;
    }

    #menu li{
        margin-top: 1rem;
    }

    #menu a{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
        margin:  0.3rem;
        color: black;
    }

    #nav .btn-wallet{
        padding: 2.3vh 0;
        margin: 0 1rem;
        width: 40vw;
        font-size: 2vh;
        background-color: #141843;
        color: #FFFFFF;
        border: none;
    }

    #nav div {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2.5rem;
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container{
        padding-top: 0px;
        position: relative;
    }

    section .container{
        display: flex;
        flex-direction: column;
    }

    header .container{
        margin-bottom: 5vh;
    }

    .header-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0vh;
        max-width: 100vw;
    }

    .header-left h1{
        font-size: 10vw;
        line-height: 6vh;
    }

    .header-text-p p {
        padding: 0.1rem;
    }

    .header-text-p{
        margin: 3vh 0vh;
        font-size: 3.2vw;
        line-height: 3vh;
        color: #FFFFFF;
    }

    .header-btn .btn-explore{
        width: 30vw;
        font-weight: 600;
        font-size: 2.3vw;
    }

    .header-btn .btn-create{
        width: 30vw;
        font-weight: 600;
        font-size: 2.3vw
    }

    .header-statistics{
        display: flex;
        margin-top: 5vh; 
    }

    .header-statistics div{
        text-align: center;  
    }

    .header-statistics h1{
        font-size: 4.8vw;
        line-height: 6vh;    
    }

    .header-statistics p{
        font-weight: 500;
        font-size: 2.3vw;
        line-height: 1vh;   
    }

    #partners .container .partner-img1{
        margin: 0;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    #partners .container .partner-img1 img{
        max-width: 150px;
        padding: 30px 0px;
    }

    #partners .container .partner-img2 img{
        max-width: 150px;
        padding: 30px 0px;
    }

    #partners .container .partner-img2{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .trending{
        margin: 8rem 0rem 0;
    }

    #trending-nfts .btn-slide button{
        height: 39.35rem;
        padding: 2vw;
        border: none;
        cursor: pointer;
        font-size: 5rem;
        background: linear-gradient(#69EACB,#EACCF8,#6654F1 );
        backdrop-filter: blur(0rem);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .currentcard{
        scale: 1;
    }

    .currentcard-categories{
        scale: 1;
    }

    #collections .collections-tittle{
        text-align: center;
    }

    .collections-types ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat( 2,1fr);
        grid-column-gap: 0.5rem;
        grid-row-gap: 1rem;
        grid-auto-flow: column;
    }

    .collections-types ul li button {
        padding: 2vh 6vw;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .collections-grid ul{
        margin-top: 10vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 25px;
    }

    .categories-h1 h1{
        text-align: center;
        padding: 0 1rem;
    }

    #categories .btn-slide button{
        font-size: 5rem;
        background: #69EACB;
        backdrop-filter: blur(0rem);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #create-nft .tittle-create h1{
        text-align: center;
        padding: 2rem;
    }

    #create-nft .card-create .create-content{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;
    }

    .articles-list ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 2vh;
    }

    .articles-list ul li{
        width: 80vw;
        font-size: 0.8rem;
    }

    .footer2 {
        display: grid; 
        text-align: center;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

    .foot1 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;
    }

    .foot1 .foot-links{
        justify-content: center;
    }

    .foot2 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
    }

    .foot3{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 3;
    }

    #back-to-top {
        display: none;
    }
}
  
/* modo tablet (768px) */
  
@media (min-width: 650px) and (max-width: 882px) {
    body {
        transition: var(--transition);
    }
    
    header .container {
        flex-direction: column;
    }

    #nav .btn-wallet{
        padding: 1.5vh;
        margin: 0 1rem;
        width: 16vw;
        font-size: 1.5vh;
        background-color: #69eacc00;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
    }

    .container{
        padding-top: 0px;
    }

    .container .logo{
        margin-bottom: 4vh;
    }

    .header-left{
        margin-top: 15vh;
        max-width: 100vw;
    }

    .header-left h1{
        font-size: 5vw;
        line-height: 6vh;
    }

    .header-text-p{
        margin: 3vh 0vh;
        font-size: 1.5vw;
        line-height: 3vh;
        color: #FFFFFF;
    }

    .header-statistics{
        display: flex;
        margin-top: 5vh; 
    }

    .header-statistics div{
        text-align: center;  
    }

    .header-statistics h1{
        font-size: 1.8vw;
        line-height: 6vh;    
    }

    .header-statistics p{
        font-weight: 500;
        font-size: 1.3vw;
        line-height: 1vh;   
    }

    .navbar nav ul li {
        font-size: 16px;
        padding: 0 10px;
    }

    #partners .container .partner-img1{
        margin-top: 10vh;
        gap: 2vw;
    }

    #partners .container div{
        margin: 2vh;
    }

    #partners .container img{
        max-width: 9rem;
    }

    .collections-grid ul{
        margin-top: 10vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 25px;
    }

    .collections-types ul li button {
        padding: 2.2vh 2vw;
        font-size: .7rem;
        font-weight: 700;
    }

    #back-to-top {
        display: none;
    }
}

/* modo laptop (1024px)  */

@media (min-width: 883px) and (max-width: 1110px) {
    body {
        transition: var(--transition);
    }

    .header-left{
        margin-top: 13vh;
    }

    .header-left h1{
        font-size: 5vw;
        line-height: 6vh;
    }

    .header-text-p{
        margin: 5vh 0vh;
        font-size: 1.5vw;
        line-height: 3vh;
        color: #FFFFFF;
    }

    .header-statistics{
        display: flex;
        margin-top: 5vh;
    }

    .header-statistics div{
        text-align: center;
    }

    .header-statistics h1{
        font-size: 1.8vw;
        line-height: 6vh;
    }

    .header-statistics p{
        font-weight: 500;
        font-size: 1.1vw;
        line-height: 1vh;
    }

    .navbar nav ul li {
        font-size: 16px;
        padding: 0 10px;
    }
}